.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#content {
  max-width : 45vw;
  text-align: left;

}
#title {
  text-align: center;
  font-family: 'Alegreya', serif;
  margin-bottom: 0;
}
#content p {
  font-family:"Lora", sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
}
#byline {
  font-family: 'Alegreya', serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
 
}