.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#content {
 
 display : flex;
  flex-direction : column;
  align-items : center;
  justify-content : center;
}
#content p {
  max-width: 45vw;
  text-align: left;
}
#title {
  text-align: center;
  font-family: 'Alegreya', serif;
  margin-bottom: 0;
}
#content p {
  font-family:"Lora", sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
}
#byline {
  font-family: 'Alegreya', serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
 
}
#storefronts {
  
  margin-top: 2em;
  margin-bottom: 2em;
  width : 70vw;
  
}
#storefronts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap : 0;
}
.store {
  width: 250px;

  margin: 0;
  position : relative;
}
img {
  width: 100%;
  height: 250px;
  
  object-fit: cover;
  object-position: center;
}
.store .store-details {
  max-width : 98%;
  height : 70%;
  background-color: #d9d9d9;
  opacity: 80%;
  position: absolute;
  bottom: 0;
  color : rgb(0, 0, 0);
  

}
#map {
  display:flex;
  height: 60vh;
  width : 80vw;



}

.leaflet-container {
 height: 100%;
 width : 55vw;



}
#search{
  height : 100%;
  width : 25vw;

}