.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#content {
 
 display : flex;
  flex-direction : column;
  align-items : center;
  justify-content : center;
}

#title {
  text-align: center;
  font-family: 'Alegreya', serif;
  margin-bottom: 0;
}
#content .story {
  font-family:"Lora", sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  width: 45vw;
  text-align: left;
}
.instructions {
  font-family:"Lora", sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  width: 45vw;
  text-align: left;
  padding : 20px;
  background-color: gray;
  opacity: 70%;
  border-radius : 5px;
}
#content .quote {
  font-size : 20px;
  font-family:"Lora", sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  width: 60vw;
  text-align: center;
  font-style: italic;

}
#byline {
  font-family: 'Alegreya', serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
 
}
#storefronts {
  
  margin-top: 2em;
  margin-bottom: 2em;
  width : 70vw;

  
}
#storefronts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-baseline;
  gap : 0;
}
.store {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 200px;
  position : relative;
}
img.store {
  
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;


}
.store .store-details {
  max-width : 98%;
  height : 70%;
  position: absolute;
  top: 0;
  color : rgb(0, 0, 0); 

}

.store-details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.store-details p {
  position: absolute;
  bottom : 0;
  font-size: 10px;
  line-height: 1.25;
}
#map {
  display:flex;
  height: 60vh;
  width: 80vw;
  max-width: 800px;
  gap : 20px;
  margin-bottom: 20px;



}

.leaflet-container {
 height: 100%;
 width : 55vw;
 margin : 2%;



}
#search{
  display : flex;
  flex-direction : column;
  height : 100%;
  width : 25vw;


  

}
#search input {
  width : 100%;
  height : 10%;
  font-size : 20px;
  padding : 10px;
  border : 1px solid black;
  border-radius : 5px;
}
#search ul {
  list-style-type : none;
  text-align: left;
  padding : 10px;
  margin : 0;
  border-radius: 5px;
  height :90%;
  overflow-y : scroll;
  border : 1px solid black;
}
#search li {
  padding : 10px;
  cursor : pointer;
}
#header {
  width : 100vw;

}

#header img{
width : 100%;
height : 100%;
object-fit : cover;
object-position : center;

}
